<div class="product-container">
<h2>Adicionar Produto</h2>
<form action="/products/add" method="post" class="form">
<div class="form-control">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" placeholder="Digite o nome do produto" required>
</div>
<div class="form-control">
    <label for="price">Preço</label>
    <input type="text" name="price" id="price" placeholder="Digite o preço" required>
</div>
<div class="form-control">
    <label for="description">Descrição</label>
    <input type="text" name="description" id="description" placeholder="Descrição do produto" required>
</div>
<input type="submit" class="btn" value="Adicionar">
</form>
<p><a href="/products" class="link">Voltar</a></p>
</div>
